body {
	margin: 0;
	background-color: #6a6a6a;
	/* background-color: #1c1c1e; */
}

.container {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.fs-section-box {
	stroke: black;
	stroke-width: 1;
}

.fs-section-title {
	text-anchor: middle;
	dominant-baseline: central;
	font-size: 6px;
	font-family: fira code, Monaco, Consolas, ubuntu mono, monospace;
	fill: white;
}

.node text {
	text-anchor: middle;
	dominant-baseline: central;
	font-size: 6px;
	font-family: fira code, Monaco, Consolas, ubuntu mono, monospace;
	fill: black;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}
